<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset = "UTF-8">
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
  <form method = "POST" action="/input">
    <h2> From: </h2>
    <div class="form-group">
      Name <input type="text" name="name"> <br>
      Street 1 <input type="text" name="street"> <br>
      Street 2 <input type="text" name="street1"> <br>
      City <input type="text" name="city"> <br>
      State <input type="text" name="state"> <br>
      Zip <input type="text" name="zip"> <br>
      Country <input type="text" name="country"> <br>
      Company <input type="text" name="company"> <br>
    </div>
    <h2> To: </h2>
    <div class="form-group">
      Name <input type="text" name="name2"> <br>
      Street 1<input type="text" name="street2"> <br>
      Street 2<input type="text" name="street3"> <br>
      City <input type="text" name="city2"> <br>
      State <input type="text" name="state2"> <br>
      Zip <input type="text" name="zip2"> <br>
      Country <input type="text" name="country2"> <br>
      Company <input type="text" name="company2"> <br>
    </div>
    <h2> Dimensions: </h2>
    <div class="form-group">
      Length <input type="number" name="length"> <br>
      Width <input type="number" name="width"> <br>
      Height <input type="number" name="height"> <br>
      Weight <input type="number" name="weight"> <br>
    </div>

    <div class="form-group">
      <input type="submit">
    </div>
  </form>
</body>
</html>
